node_modules
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out

# Audio files
*.mp3
*.wav
*.aac
*.flac
*.ogg
*.m4a
*.wma
*.alac

# Video files
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.flv
*.wmv
*.m4v
*.mpg
*.mpeg
*.3gp
*.3g2
*.mxf
